<div class="bgContainer">
    <div class="containerCenterScreen">
       <div class="container containerCustom">
        <div class="container py-3">
            <h5 class="titleForm">HOSPITAL BÁSICO DE LA ZONA EL ORO</h5>
        </div>
        <h5 class="card-title text-center">Ingrese las credenciales para continuar...</h5>
        <br>
        <div class="card shadow">
            <div class="card-body">
                <form (submit)="login()">
                    <div class="form-group mt-2">
                        <label for="InputCI">Cédula</label>
                        <input type="text" class="form-control" id="InputCI" [(ngModel)]="credentials.cedula" name="ci" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="InputPassword">Contraseña</label>
                        <input type="password" class="form-control" id="InputPassword" [(ngModel)]="credentials.password" name="password" required>
                    </div>
                    <div class=" container mt-4">
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Ingresar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
          </div>
       </div>
    </div>
</div>