<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-12">
                <!-- Custom tabs (Charts with tabs)-->
                <div class="col-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Agregar Persona</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form (submit)="agregar_persona()">
                            <div class="card-body">
                               
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="cedula">Cédula</label>
                                            <input type="text" class="form-control" [(ngModel)]="datos.cedula" name="cedula" placeholderid="cedula"
                                                placeholder="Cédula">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password">Contraseña</label>
                                            <input type="password" class="form-control" [(ngModel)]="datos.password" name="password"id="password"
                                                placeholder="Password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="apellidos">Apellidos</label>
                                            <input type="text" class="form-control" [(ngModel)]="datos.apellidos" name="apellidos" id="apellidos"
                                                placeholder="Apellidos">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="nombres">Nombres</label>
                                            <input type="text" class="form-control" [(ngModel)]="datos.nombres" name="nombres" id="nombres"
                                                placeholder="Nombres">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="tipo_persona">Tipo de Persona</label>
                                            <input type="text" class="form-control" [(ngModel)]="datos.tipo_persona" name="tipo_persona" id="tipo_persona"
                                                placeholder="Tipo de Persona">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="tipo_sangre">Tipo de Sangre</label>
                                            <input type="text" class="form-control" [(ngModel)]="datos.tipo_sangre" name="tipo_sangre" id="tipo_sangre"
                                                placeholder="Tipo de Sangre">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="especialidad">Especialidad</label>
                                            <input type="text" class="form-control" [(ngModel)]="datos.especialidad" name="especialidad" id="especialidad"
                                                placeholder="Especialidad">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="correo">Correo</label>
                                            <input type="email" class="form-control" [(ngModel)]="datos.correo" name="correo" id="correo"
                                                placeholder="Correo">
                                        </div>  
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="celular">Celular</label>
                                            <input type="text" class="form-control" [(ngModel)]="datos.celular" name="celular" id="celular"
                                                placeholder="Celular">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                                            <input type="date" class="form-control" [(ngModel)]="datos.fecha_nacimiento" name="fecha_nacimiento" id="fecha_nacimiento"
                                                placeholder="Fecha de Nacimiento">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="ocupacion">Ocupación</label>
                                            <input type="text" class="form-control" [(ngModel)]="datos.ocupacion" name="ocupacion" id="ocupacion"
                                                placeholder="Ocupación">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="genero">Género</label>
                                            <input type="text" class="form-control" [(ngModel)]="datos.genero" name="genero" id="genero"
                                                placeholder="Género">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="ciudad">Ciudad</label>
                                            <input type="text" class="form-control" [(ngModel)]="datos.ciudad" name="ciudad" id="ciudad"
                                                placeholder="Ciudad">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Agregar</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->

        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
